$blue: #3190e8;
$bc: #e4e4e4;
$fc: #fff;
// 宽高
@mixin wh($width, $height) {
    width: $width;
    height: $height;
}

//size, color
@mixin sc($size, $color) {
    font-size: $size;
    color: $color;
}

//上下居中
@mixin ct {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@mixin cl {  
	position: absolute;
	left: 50%;
    transform: translateX(-50%);
}

//flex布局和子元素对齐方式
@mixin fj($type: space-between) {
    display: flex;
    justify-content: $type;
}

//font-size, line-height, font-family
@mixin font($size, $height, $family: 'Microsoft YaHei') {
    font: #{$size}/#{$height} $family;
}

// 上下左右居中
@mixin center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

//定位全屏
@mixin allcover{
    position: absolute;
    top: 0;
    right: 0;
}

@mixin borderRadius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
    border-radius: $radius;
}

@mixin bis($url) { 
	background-image: url($url);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

//覆盖页面的多级路由
@mixin subCover($c: #fff, $zi:205, $pt: 1.95rem){
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-top: $pt;
    background-color: $c;
    z-index: $zi;
}